<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width: 1600px)">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Оглавление</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list" >
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/home']">Главная страница</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages; let i = index">
            <ion-item (click)="selectedIndex = i" href
                      routerDirection="root"
                      [routerLink]="[p.url]"
                      *ngIf="p.item[settings.textSource]"
                      [class.selected]="selectedIndex == i">
              <span class="title"
                    [class.irmologion]="settings.textSource === 'cs'"
                    [class.forceRu]="!!p.item['forceRu'] && settings.textSource === 'cs'">
                  {{p.item[settings.textSource]}}
              </span>
              <div *ngIf="p.note" class="kafisma-pages">{{p.note}}</div>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/slovar']">Словарь</ion-item>
            <ion-item [routerLink]="['/needs']">Псалтирь На Всякую Потребу</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
