<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="irmologion">Pалти1рь</ion-title>
    <ion-buttons  slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <h5>Псалтирь царя и пророка Давида</h5>
  <ion-list>

    <ion-item lines="none">
      <ion-icon slot="start" name="menu"></ion-icon>
      Последние кафизмы
    </ion-item>
    <ion-item *ngIf="history.length === 0">
      У вас еще нет истории чтения, выберите кафизму из меню
    </ion-item>
    <ng-container *ngFor="let p of history; trackBy: index" >
      <ion-item (*ngIf)="p && p.item.ru"
                (click)="openHistoryPage(p)"
                routerLink>
        <div class="item-flex">
          <span class="title" [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
          {{p.item[settingsService.settings.textSource]}}
          </span>
          <div class="read-date">{{p.note}}</div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-icon slot="start" name="bookmark-outline"></ion-icon>
      Закладки
    </ion-item>
    <ion-item *ngIf="bookmarks.length === 0">
      У вас пока нет закладок, вы можете добавить кафизму нажав на соответствущую иконку в верхней части окна с открытой кафизмой
    </ion-item>
    <ng-container *ngFor="let p of bookmarks; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <ion-item routerLink (click)="openHistoryPage(p)">
          <span [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
            {{p.item[settingsService.settings.textSource]}}
          </span>
          <ion-note>{{p.note}}</ion-note>
        </ion-item>
        <ion-item-options>
          <ion-button  color="light" icon-left (click)="removeBookmark(p)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-icon slot="start" name="star"></ion-icon>
      Избранные псалмы
    </ion-item>
    <ion-item *ngIf="psalms.length === 0">
      У вас еще нет избранных псалмов, вы можете добавить псалом в избранное нажав на его заголовок с номером
    </ion-item>
    <ng-container *ngFor="let p of psalms" >
      <ion-item-sliding *ngIf="p && p.item.ru">
        <ion-item routerLink (click)="openPsalm(p)">
          {{p.item[settingsService.settings.textSource]}}
        </ion-item>
        <ion-item-options>
          <ion-button color="light" icon-left (click)="removePsalm(p)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <div class="intro" *ngIf="isIntroHidden !== 'true'">
    <div class="header">Псалтирь на церковнославянском языке в обычном и современном начертании.</div>
    <ul>
      <li>Cинодальный перевод псалмов (параллельный и отдельный).</li>
      <li>Обычные молитвы или за упокой на "Славах"</li>
      <li>Молитвы "Перед чтением Псалтири", "По окончании", "Шестопсалмие", "Чин чтения 12-ти псалмов", "Помянник" и "Поcледование по исходе души от тела"</li>
      <li>Раздел "О псалмопении" и словарь малопонятных слов</li>
      <li>Режимы чтения: постраничный (книжный), вертикальный, ночной.</li>
      <li>Настройки: размер шрифта, интервалы, переносы, гарнитура шрифта.</li>
      <li>Закладки, история чтения, избранные псалмы.</li>
    </ul>
    <div class="header">Веб версия доступна по ссылке ниже:</div>
    <div class="center">
      <ion-button icon-start small outline class="button" target="_blank" href="http://psalm.it4p.ru/">
        <ion-icon name="link-outline"></ion-icon> &nbsp;
        http://psalm.it4p.ru/
      </ion-button>
    </div>
    <div class="desc">В случае ошибок, неточностей или иных проблем сообщите автору c указанием текста
      (цс, цс с русскими буквами, синодальный перевод) а так же точного места (Пс 90:17)
      <div class="center">
        <ion-button icon-start small outline class="button" href="mailto:psalm@it4p.ru">
          <ion-icon name="mail"></ion-icon> &nbsp;
          psalm@it4p.ru
        </ion-button>
      </div>
      Сверка текстов так же доступна из настроек в мобильном приложении или по ссылке:
      <a target="_blank" href="http://psalm.it4p.ru/test">http://psalm.it4p.ru/test</a>
      <br>Так же будем рады любым предложеням по работе приложения.
      <br>Исходный код проекта доступен по ссылке:
      <a target="_blank" href="https://github.com/tema4p/Psalm2022">https://github.com/tema4p/Psalm2022</a>
    </div>
    <div class="desc">
      <br>Выражаем ОГРОМНУЮ благодраность всем кто писал отчеты по ошибкам и исправлениям, все письма были прочитаны и многое исправленно, что-то запланированно к работе.
      <br>Проекту нужны активные разработчики и тестировщики.
      <br>Если вы хотите принять участие в развитии проекта и/или научиться технологиям разработки
      подобных приложений то можете написать автору проекта
    </div>

    <div class="center">
      <ion-button (click)="hideIntro()" fill="outline" size="small">
        Скрыть информацию
      </ion-button>
    </div>

  </div>
  <div class="center">
    <ion-button (click)="showIntro()" *ngIf="isIntroHidden === 'true'"  fill="outline" size="small">
      О приложении
    </ion-button>
  </div>

</ion-content>
