<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="irmologion">Pалти1рь</ion-title>
    <ion-buttons  slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <h5>Псалтирь царя и пророка Давида</h5>
  <ion-list>
    <ion-list-header>Последние кафизмы</ion-list-header>
    <ion-item *ngIf="history.length === 0">
      У вас еще нет открытых кафизм
    </ion-item>
    <ng-container *ngFor="let p of history; trackBy: index" >
      <ion-item (*ngIf)="p && p.item.ru"
              [routerLink]="'/page/kafisma' + p.item.kafisma">
        <div class="item-flex">
          <span class="title" [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
          {{p.item[settingsService.settings.textSource]}}
          </span>
          <div class="read-date">{{p.note}}</div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-list-header>Закладки</ion-list-header>
    <ion-item *ngIf="bookmarks.length === 0">
      У вас пока нет закладок
    </ion-item>
    <ng-container *ngFor="let p of bookmarks; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <ion-item (click)="openPage(p)">
          <span [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
            {{p.item[settingsService.settings.textSource]}}
          </span>
          <ion-note>{{p.note}}</ion-note>
        </ion-item>
        <ion-item-options>
          <ion-button  color="light" icon-left (click)="removeBookmark(p)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-list-header>Избранные псалмы</ion-list-header>
    <ion-item *ngIf="psalms.length === 0">
      У вас еще нет избранных псалмов
    </ion-item>
    <ng-container *ngFor="let p of psalms; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <ion-item (click)="openPsalm(p)">
          {{p.item[settingsService.settings.textSource]}}
        </ion-item>
        <ion-item-options>
          <ion-button color="light" icon-left (click)="removePsalm(p)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <div class="intro" *ngIf="isIntroHidden !== 'true'">
    <div class="desc">В случае ошибок, неточностей или иных проблем сообщите автору:
      <div class="center">
        <ion-button icon-start small outline class="button" href="mailto:psalm@it4p.ru">
          <ion-icon name="mail"></ion-icon> &nbsp;
          psalm@it4p.ru
        </ion-button>
      </div>
      Так же будем рады любым предложеням по работе приложения.
    </div>

    <ul>
      <li>Псалтирь на церковнославянском языке в обычном и современном начертании.</li>
      <li>Cинодальный перевод псалмов (параллельный и отдельный).</li>
      <li>Обычные молитвы или за упокой на "Славах"</li>
      <li>Молитвы "Перед чтением Псалтири", "По окончании", "Шестопсалмие", "Чин чтения 12-ти псалмов", "Помянник" и "Поcледование по исходе души от тела"</li>
      <li>Раздел "О псалмопении" и словарь малопонятных слов</li>
      <li>Режимы чтения: постраничный (книжный), вертикальный, ночной.</li>
      <li>Настройки: размер шрифта, интервалы, переносы, гарнитура шрифта.</li>
      <li>Закладки, история чтения, избранные псалмы.</li>
    </ul>
    <div class="center">
      <ion-button (click)="hideIntro()" fill="outline" size="small">
        Скрыть информацию
      </ion-button>
    </div>
  </div>
  <div class="center">
    <ion-button (click)="showIntro()" *ngIf="isIntroHidden === 'true'"  fill="outline" size="small">
      О приложении
    </ion-button>
  </div>

</ion-content>
