<div *ngIf="kafisma">

  <h3>{{kafisma.title}}</h3>

  <!-- Psalms 1-->
  <psalm [psalmNumber]="psalm"
         [psalmPart]="0"
         *ngFor="let psalm of kafisma.psalm1">
  </psalm>

  <!-- Slava 1-->
  <adds *ngIf="!settings.repose"
        [addsId]="'slava'"></adds>
  <adds *ngIf="settings.repose"
        [addsId]="'repose'"></adds>

  <!-- Psalms 2-->
  <psalm [psalmNumber]="psalm"
         [psalmPart]="1"
         *ngFor="let psalm of kafisma.psalm2">
  </psalm>

  <!-- Slava 2 -->
  <adds *ngIf="!settings.repose"
        [addsId]="'slava'"></adds>
  <adds *ngIf="settings.repose"
        [addsId]="'repose'"></adds>

  <!-- Psalms 3 -->
  <psalm [psalmNumber]="psalm"
         [psalmPart]="2"
         *ngFor="let psalm of kafisma.psalm3">
  </psalm>

  <div *ngIf="kafismaNumber === '20'">
    <!-- Slava end -->
    <adds [addsId]="'slavaPre'"></adds>
    <psalm [psalmNumber]="151">
    </psalm>
  </div>

  <!-- Slava end -->
  <adds [addsId]="'slavaPre'"></adds>

  <!-- Po kafisme -->
  <div class="red center">{{kafismaEnd.poKafisme}}</div>

  <!-- Trisvyatoe -->
  <adds [addsId]="'trisv'"></adds>

  <!-- Tropar-->
  <div [innerHTML]="kafismaEnd.trop | safeHtml"
       *ngIf="!settings.repose">
  </div>

  <!-- Molitva sa upokoy -->
  <adds *ngIf="settings.repose"
        [addsId]="'reposeM'"
        class="forceRu">
  </adds>

  <!--TODO: молитва 40 раз-->

  <!-- Molitva -->
  <div [innerHTML]="kafismaEnd.molitva | safeHtml"></div>

</div>
