.translate {
  color: var(--ion-color-primary);
}

//.dark .translate  {
//  color: #e5e8ff;
//}

.extraSpace {
  padding: 4px 0;
  display: inline-block;
}

.line {
  display: flex;
  flex-wrap: wrap;

  span {
    flex: 1;
  }
  span:first-child {
    padding-right: 8px;
  }
}

.csTranslated {
  .translate {
    font-size: 90%;
  }
}

.sreda {
  padding: 12px;
}
