
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Псалтирь На Всякую Потребу</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div class="content">
    <h5>О Чтении Псалтири На Всякую Потребу Составлено По Писаниям Святителя Афанасия Великого</h5>
    <p>Каждый, произнося псалмы, пусть будет благонадежен, что Бог скоро услышит просящих псаломским словом.
      Ибо терпит ли кто искушения и гонения – поя псалмы, явится благоискусным и будет покровительствуем Господом, Который
      покровительствовал изрекшего псалом, или обратит в бегство диавола и отразит демонов его.
      Если кто и согрешил – читая псалмы, придет в себя и перестанет грешить.
      А если кто не согрешил, – увидит себя радующимся, что соревнует предварившим, а воспевая псалмы, превозмогает в
      борьбе, – и он вовек не поколеблется в истине, но обличит обольщающих и намеревающихся ввести в заблуждение…
      Слышал я от мужей мудрых, что в древности у израильтян только чтением Писания изгоняли демонов и обличали козни,
      чинимые ими людям.
    </p>

    <strong>Чтение псалмов на всякую потребу.</strong>
    <ul>
      <li> если желаешь утвердиться в надежде на Бога и небоязненности: <a (click)="openPage(90)">90</a>.</li>
      <li> при желании переселиться в дом Божий и вечные Божии селения: <a (click)="openPage(83)">83</a>.</li>
      <li> если просишь щедрот у Бога: <a (click)="openPage(66)">66</a>.</li>
      <li> при затруднительных обстоятельствах жизни, при унынии духом: <a (click)="openPage(101)">101</a>.</li>
      <li> если пленен чуждыми помыслами: <a (click)="openPage(136)">136</a>.</li>
      <li> когда видишь гордыню и умножающуюся злобу многих, видишь, что уже у людей нет ничего святого: <a
              (click)="openPage(11)">11</a>.</li>
      <li> когда услышишь, что хулят иные промысл, тогда не приобщайся к их нечестию, но, обратясь к Господу, произнеси:
        <a (click)="openPage(13)">13</a>, <a (click)="openPage(52)">52</a>.</li>
      <li> если желаешь узнать, каков должен быть гражданин небесного царствия: <a (click)="openPage(14)">14</a>.</li>
      <li> видя угнетаемых, утешай их, молясь за них и говоря им этими словами: <a (click)="openPage(19)">19</a>.</li>
      <li> если увидишь упорство беззаконных во зле, не думай, что злоба в них от природы, как говорят еретики, но прочти:
        <a (click)="openPage(35)">35</a>, — и увидишь, что они сами причиной того, что грешат.</li>
      <li> если кто хочет смутить тебя и привести в боязнь, имей упование на Господа и читай: <a
              (click)="openPage(10)">10</a>.</li>
      <li> при гонении и поношении врагов и множестве восстающих на тебя: <a (click)="openPage(3)">3</a>; <a
              (click)="openPage(24)">24</a>; <a (click)="openPage(26)">26</a>; <a (click)="openPage(41)">41</a>; <a
              (click)="openPage(139)">139</a>.</li>
      <li> если желаешь укрепиться против нападающего врага: <a (click)="openPage(38)">38</a></li>
      <li> видя лукавнующих, которые уготовляют тебе сети: <a (click)="openPage(5)">5</a>; <a (click)="openPage(7)">7</a>.
        воспевая: <a (click)="openPage(12)">12</a>;<a (click)="openPage(25)"> 25</a>; <a (click)="openPage(34)">34</a>; <a
                (click)="openPage(42)">42</a>.</li>
      <li> если терпишь скорби от нападающих и хочешь узнать пользу терпения: <a (click)="openPage(39)">39</a>.</li>
      <li> если раскаиваешься в соделанном грехе и молишь, о помиловании: <a (click)="openPage(50)">50</a>.</li>
      <li> о благодарении Богу: если желаешь научиться, как должно приносить благодарение Господу: <a
              (click)="openPage(28)">28</a>; <a (click)="openPage(104)">104</a>; <a (click)="openPage(106)">106</a>; <a
              (click)="openPage(134)">134</a>; <a (click)="openPage(145)">145-150</a>.</li>
      <li> желая вспомнить, какие благодеяния Божии оказаны отцам, сколь Бог благ и люди неблагодарны: <a
              (click)="openPage(43)">43</a>; <a (click)="openPage(77)">77</a>; <a (click)="openPage(88)">88</a>; <a
              (click)="openPage(104)">104</a>; <a (click)="openPage(105)">105</a>; <a (click)="openPage(106)">106</a>; <a
              (click)="openPage(113)">113</a>.</li>
      <li> благодарение Господу, когда он услышал тебя в скорби: <a (click)="openPage(4)">4</a>; <a
              (click)="openPage(74)">74</a>; <a (click)="openPage(114)">114</a>; <a (click)="openPage(45)">45</a>.</li>
      <li> когда спасен ты от врагов твоих, избавлен от гонителей своих: <a (click)="openPage(17)">17</a>; <a
              (click)="openPage(9)">9</a>.</li>
      <li> видя, что Господь пасет тебя и благоустрояет путь твой: <a (click)="openPage(22)">22</a>.</li>
      <li> впав в руки врагов и мудро избежав их, и уклонившись от злоумышлении их: <a (click)="openPage(33)">33</a>.</li>
    </ul>
    <hr>
    <p><strong>Псалмы, употребляемые на Богослужениях</strong></p>
    <p><strong>Утреня:</strong></p>
    <ul>
      <li>Начало: <a (click)="openPage(19)">19</a>, <a (click)="openPage(20)">20</a>.</li>
      <li>Шестопсалмие: <a (click)="openPage(3)">3</a>, <a (click)="openPage(37)">37</a>, <a (click)="openPage(62)">62</a>,
        <a (click)="openPage(87)">87</a>, <a (click)="openPage(102)">102</a>, <a (click)="openPage(142)">142</a>.</li>
      <li>Перед каноном: <a (click)="openPage(50)">50</a>.</li>
      <li>Хвалительные псалмы: <a (click)="openPage(148)">148</a>, <a (click)="openPage(149)">149</a>,<a
              (click)="openPage(150)">150</a>.</li>
      <li>Час Первый: <a (click)="openPage(5)">5</a>, <a (click)="openPage(89)">89</a>, <a (click)="openPage(100)">100</a>.</li>
      <li>Час Третий: <a (click)="openPage(16)">16</a>, <a (click)="openPage(24)">24</a>, <a (click)="openPage(50)">50</a>.</li>
      <li>Час Шестой: <a (click)="openPage(53)">53</a>, <a (click)="openPage(54)">54</a>, <a (click)="openPage(90)">90</a>.</li>
      <li>Час Девятый: <a (click)="openPage(83)">83</a>, <a (click)="openPage(84)">84</a>, <a
              (click)="openPage(85)">85</a>.</li>
    </ul>

    <strong>Вечеря:</strong>
    <ul>
      <li>Предначинательный: <a (click)="openPage(103)">103</a>,</li>
      <li>"Блажен муж": <a (click)="openPage(1)">1</a>.</li>
      <li>На "Господи, воззвах": <a (click)="openPage(140)">140</a>, <a (click)="openPage(141)">141</a>, <a
              (click)="openPage(129)">129</a>, <a (click)="openPage(116)">116</a>. В конце вечерни: <a
              (click)="openPage(33)">33</a></li>
      <li>(Только Великим Постом). Певечерие: <a (click)="openPage(4)">4</a>, <a (click)="openPage(6)">6</a>, <a
              (click)="openPage(12)">12</a>, <a (click)="openPage(69)">69</a>, <a (click)="openPage(90)">90</a>, <a
              (click)="openPage(142)">142</a>.</li>
    </ul>
    <hr>
    <ul>
      <li>Перед причащением: <a (click)="openPage(22)">22</a>, <a (click)="openPage(33)">33</a>, <a
              (click)="openPage(115)">115</a>.</li>
      <li>Литургия: <a (click)="openPage(102)">102</a>, <a (click)="openPage(145)">145</a>.</li>
      <li>Погребение: <a (click)="openPage(118)">118</a>.</li>
      <li>Молебны: о болящем: <a (click)="openPage(70)">70</a>,</li>
      <li>Благодарственный: <a (click)="openPage(117)">117</a>,</li>
      <li>Новый год: <a (click)="openPage(64)">64</a>,</li>
      <li>Путешествующим: <a (click)="openPage(120)">120</a>,</li>
      <li>Просительный молебен: <a (click)="openPage(142)">142</a>.</li>
    </ul>
    <hr>
    <p><strong>О чтении псалмов в дни седмицы</strong></p>
    <ul>
      <li>В воскресенье – <a (click)="openPage(23)">23</a></li>
      <li>В понедельник – <a (click)="openPage(47)">47</a></li>
      <li>В среду – <a (click)="openPage(93)">93</a></li>
      <li>В пятницу – <a (click)="openPage(92)">92</a></li>
      <li>В субботу – <a (click)="openPage(91)">91</a></li>
    </ul>
  </div>
</ion-content>

